In [1]:
cd ../..

/home/nazif/thesis/mirscribe-vcf

/home/nazif/.cache/pypoetry/virtualenvs/mirscribe-vcf-8VJm4tPg-py3.10/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
from sqlalchemy import create_engine

import pandas as pd

# db engine
engine = create_engine('sqlite:///data/db/mirscribe.db')

# mirnas

In [3]:
mirna_df = pd.read_csv('data/mirna/mirna.csv')
mirna_df["seed"] = mirna_df.sequence.str[1:8]

mirna_df.head()

,mirna_name,mirna_accession,sequence,mirna_family,conservation,seed
0,hsa-let-7a-5p,MIMAT0000062,AACTATACAACCTACTACCTCA,let-7-5p/98-5p,2.0,ACTATAC
1,hsa-let-7b-5p,MIMAT0000063,AACCACACAACCTACTACCTCA,let-7-5p/98-5p,2.0,ACCACAC
2,hsa-let-7c-5p,MIMAT0000064,AACCATACAACCTACTACCTCA,let-7-5p/98-5p,2.0,ACCATAC
3,hsa-let-7d-5p,MIMAT0000065,AACTATGCAACCTACTACCTCT,let-7-5p/98-5p,2.0,ACTATGC
4,hsa-let-7e-5p,MIMAT0000066,AACTATACAACCTCCTACCTCA,let-7-5p/98-5p,2.0,ACTATAC

In [4]:
mirna_df.isna().sum()

mirna_name         0
mirna_accession    0
sequence           0
mirna_family       0
conservation       0
seed               0
dtype: int64

# transcripts

# SAVE TO DB

In [16]:
mirna_df.to_sql('mirnas', engine, if_exists='replace', index=False)

4384